.clearfix:after {
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  content: "";
}
.clearfix {
  *zoom: 1;
}
body {
  font-family: '微软雅黑';
}
.content_center {
  width: 100%;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.3125rem;
  padding-right: 0.3125rem;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
