/*top导航开始*/
.top-nav {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  width: 100%;
  max-width: 768px;
  background-color: #fff;
  z-index: 888;
}
.top-nav .top-search {
  position: relative;
  float: left;
  width: 0.9375rem;
  height: 0.9375rem;
}
.top-nav .top-search i {
  font-size: 0.625rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.top-nav .top-sort {
  position: relative;
  float: right;
  width: 0.9375rem;
  height: 0.9375rem;
}
.top-nav .top-sort i {
  font-size: 0.625rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.top-nav .top-logo {
  position: absolute;
  width: 1.875rem;
  top: 50%;
  left: 50%;
  transform: translate(-120%, -50%);
}
.top-nav .top-logo img {
  width: 100%;
  float: left;
}
.top-nav .company {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-10%, -50%);
}
.top-nav .company a {
  font-size: 0.625rem;
  color: #0195dd;
  font-weight: bolder;
}
/* 搜索开始*/
.search-input {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 1.5625rem;
  z-index: 999;
  display: none;
  box-sizing: border-box;
  background-color: #034eb3;
  padding: 0 0.3125rem;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
}
.search-input .search-flase {
  float: left;
  position: relative;
  width: 0.9375rem;
  height: 0.9375rem;
}
.search-input .search-flase i {
  color: #fff;
  position: absolute;
  font-size: 0.6875rem;
  top: 50%;
  right: 0%;
  transform: translate(0, -50%);
}
.search-input .search {
  position: relative;
  float: left;
  margin-left: 0.15625rem;
}
.search-input .search input {
  float: left;
  width: 8.125rem;
  height: 0.9375rem;
  font-size: 0.40625rem;
  color: #8d9093;
  outline: none;
  border: 1px solid black;
  padding: 0.09375rem 0.3125rem;
  box-sizing: border-box;
  border-radius: 0.46875rem 0.46875rem;
}
.search-input .search .search-iconfont {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(0, -50%);
  width: 0.9375rem;
  height: 0.9375rem;
  margin-right: 0.3125rem;
}
.search-input .search .search-iconfont i {
  position: absolute;
  font-size: 0.625rem;
  top: 50%;
  right: 0%;
  transform: translate(0, -50%);
}
/*搜索结束*/
/*top伸缩菜单开始*/
.flexible .flexible-right {
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  height: 100vh;
  background-color: #034eb3;
  z-index: 999;
  overflow: hidden;
  transition: all 1s;
}
.flexible .flexible-right ul li {
  text-align: center;
}
.flexible .flexible-right ul li a {
  display: block;
  height: 1.5625rem;
  line-height: 1.5625rem;
  border-bottom: 1px solid #fff;
  box-sizing: border-box;
  font-size: 0.5rem;
  color: #fff;
}
.flexible .flexible-left {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 100vh;
  background-color: black;
  opacity: 0.8;
  z-index: 999;
  overflow: hidden;
  transition: all 1s;
}
.flexible .flexible-left ul li {
  text-align: right;
}
.flexible .flexible-left ul li i {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.78125rem;
  color: #fff;
}
/*top伸缩菜单结束*/
/*top导航开始*/
/*轮播图开始*/
.carousel {
  position: relative;
  width: 9.375rem;
  margin: 1.5625rem auto;
  margin-bottom: 0;
  border-top: 0.03125rem solid #ffffff;
  overflow: hidden;
  box-sizing: border-box;
  height: 4.40625rem;
}
.carousel .carousel-imgs-item {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transition: all 0.5s;
}
.carousel .arrow {
  display: none;
  position: absolute;
  top: 50%;
  z-index: 888;
  width: 1.25rem;
  height: 2.5rem;
  line-height: 2.5rem;
  margin-top: -1.25rem;
  font-size: 0.9375rem;
  font-weight: bold;
  color: #eee;
  text-align: center;
  cursor: pointer;
  user-select: none;
}
.carousel .arrow:hover {
  background: rgba(0, 0, 0, 0.4);
}
.carousel .left-arrow {
  left: 0rem;
}
.carousel .right-arrow {
  right: 0;
}
.carousel .carousel-imgs-item img {
  width: 100%;
  height: 4.40625rem;
}
.carousel .carousel-btn {
  position: absolute;
  bottom: 0.15625rem;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 666;
}
.carousel .carousel-btn li {
  float: left;
  width: 0.625rem;
  height: 0.0625rem;
  border: 0.03125rem solid #ffffff;
  margin-left: 0.3125rem;
  background: #fff;
  cursor: pointer;
}
.carousel .carousel-btn li:hover,
.carousel .carousel-btn li.active {
  border-color: #ffb800 ;
  background: #ffb800;
}
/*轮播图结束*/
/*头部导航开始*/
.header-nav {
  width: 100%;
  padding: 0 0.3125rem;
  box-sizing: border-box;
}
.header-nav ul {
  background-color: #034eb3;
}
.header-nav ul li {
  position: relative;
  float: left;
  padding: 0 0.09375rem;
  box-sizing: border-box;
  text-align: center;
}
.header-nav ul li div {
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 1.09375rem;
  background-color: #979797;
}
.header-nav ul li a {
  display: block;
  width: 2.15625rem;
  font-size: 0.5rem;
  color: #fff;
  line-height: 1.25rem;
  box-sizing: border-box;
  border-bottom: 2px solid #979797;
}
.header-nav ul li:nth-child(5) a {
  border-bottom: none;
}
.header-nav ul li:nth-child(6) a {
  border-bottom: none;
}
.header-nav ul li:nth-child(7) a {
  border-bottom: none;
}
.header-nav ul li:nth-child(8) a {
  border-bottom: none;
}
/*头部导航结束*/
/*产品展示开始*/
.product {
  text-align: center;
  margin-top: 0.3125rem;
}
.product h2 {
  font-size: 0.625rem;
  color: #005ac1;
}
.product h3 {
  font-size: 0.5rem;
  color: #000000;
}
.product .product-line {
  height: 1px ;
  background-color: #ccc;
  margin-top: 0.3125rem;
  margin-bottom: 0.3125rem;
}
.product .product-list .product-item {
  width: 4.53125rem;
  height: 3.5rem;
  border: 2px solid #ccc;
  overflow: hidden;
  box-sizing: border-box;
}
.product .product-list .product-item a {
  display: block;
  width: 4.53125rem;
  font-size: 0.5rem;
}
.product .product-list .product-item a img {
  width: 4.53125rem;
}
.product .product-list .product-item-left {
  float: left;
}
.product .product-list .product-item-right {
  float: right;
}
.product .product-item-name .product-name {
  position: relative;
  text-align: center;
  width: 4.53125rem;
  line-height: 1.25rem;
  font-size: 0.5rem;
}
.product .product-item-name .product-name-left {
  float: left;
}
.product .product-item-name .product-name-right {
  float: right;
}
.product .product-item-name .product-radius {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  width: 0.5625rem;
  height: 0.5625rem;
  border-radius: 50%;
  background-color: #9f9f9f;
}
.product .product-item-name .product-radius i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.5625rem;
}
/*产品展示结束*/
/* 我们的优势开始*/
.adgantages {
  text-align: center;
  margin-top: 0.3125rem;
}
.adgantages h2 {
  font-size: 0.625rem;
  color: #005ac1;
}
.adgantages h3 {
  font-size: 0.5rem;
  color: #000000;
}
.adgantages .adgantages-line {
  height: 1px ;
  background-color: #ccc;
  margin-top: 0.3125rem;
  margin-bottom: 0.3125rem;
}
.adgantages .adgantages-content {
  position: relative;
  height: 3.125rem;
}
.adgantages .adgantages-content .adgantages-radius {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  width: 1.25rem;
  height: 1.25rem;
  background-color: #034eb3;
  font-size: 0.625rem;
  font-weight: bolder;
  border-radius: 50%;
}
.adgantages .adgantages-content .adgantages-radius p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
.adgantages .adgantages-content .adgantages-content-item {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  width: 7.65625rem;
  text-align: left;
  font-size: 0.5rem;
}
.adgantages .adgantages-content .adgantages-content-item h2 {
  color: #333;
  font-size: 0.5rem;
}
.adgantages .adgantages-content .adgantages-content-item p {
  font-size: 0.4375rem;
  color: #666;
}
/*我们的优势结束*/
/* 新闻资讯开始*/
.new {
  text-align: center;
  margin-top: 0.3125rem;
}
.new h2 {
  font-size: 0.625rem;
  color: #005ac1;
}
.new h3 {
  font-size: 0.5rem;
  color: #000000;
}
.new .new-line {
  height: 1px ;
  background-color: #ccc;
  margin-top: 0.3125rem;
  margin-bottom: 0.3125rem;
}
.new .adgantages-content {
  position: relative;
  height: 2.65625rem;
  border-bottom: 1px dashed #888;
}
.new .adgantages-content .adgantages-radius {
  position: absolute;
  bottom: 0.125rem;
  left: 0;
  width: 1.875rem;
  height: 1.875rem;
  background-color: #034eb3;
  font-size: 0.625rem;
  font-weight: bolder;
}
.new .adgantages-content .adgantages-radius p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
.new .adgantages-content .adgantages-content-item {
  position: absolute;
  bottom: 0.125rem;
  right: 0;
  width: 7.03125rem;
  text-align: left;
}
.new .adgantages-content .adgantages-content-item h2 {
  font-size: 0.5rem;
  color: black;
}
.new .adgantages-content .adgantages-content-item p {
  font-size: 0.4375rem;
  color: #666;
}
.new .adgantages-content .adgantages-content-item span {
  font-size: 0.4375rem;
  color: #666;
  position: absolute;
  bottom: 0;
  right: 0;
}
/*新闻资讯结束*/
/*技术服务开始*/
.technology {
  text-align: center;
  margin-top: 0.3125rem;
}
.technology h2 {
  font-size: 0.625rem;
  color: #005ac1;
}
.technology h3 {
  font-size: 0.5rem;
  color: #000000;
}
.technology .technology-line {
  height: 1px ;
  background-color: #ccc;
  margin-top: 0.3125rem;
}
.technology .technology-content .technology-item {
  width: 4.53125rem;
  height: 5.625rem;
  margin-top: 0.25rem;
  overflow: hidden;
}
.technology .technology-content .technology-item p {
  font-size: 0.375rem;
}
.technology .technology-content .technology-item .reserve {
  font-size: 0.4375rem;
}
.technology .technology-content .technology-item .english {
  color: #999999;
}
.technology .technology-content .technology-item .detail {
  color: #666666;
}
.technology .technology-content .technology-item .item-radio {
  position: relative;
  width: 1.875rem;
  height: 1.875rem;
  border: 2px solid #123a77;
  margin: 0 auto;
  border-radius: 50%;
}
.technology .technology-content .technology-item .item-radio i {
  color: #123a77;
  font-size: 1.09375rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.technology .technology-content .technology-item .item-radio:hover {
  background-color: #08378f;
}
.technology .technology-content .technology-item .item-radio:hover i {
  color: #fff;
}
.technology .technology-content .technology-item .item-line {
  margin: 0.15625rem auto;
  height: 1px ;
  width: 1.875rem;
  background-color: #ccc;
  box-sizing: border-box;
}
.technology .technology-content .technology-item-left {
  float: left;
}
.technology .technology-content .technology-item-right {
  float: right;
}
/*技术服务结束*/
/*about us 开始*/
.about {
  text-align: center;
  margin-top: 0.3125rem;
}
.about h2 {
  font-size: 0.625rem;
  color: #005ac1;
}
.about h3 {
  font-size: 0.5rem;
  color: #000000;
}
.about .technology-line {
  height: 1px ;
  background-color: #ccc;
  margin-top: 0.3125rem;
}
.about .company {
  padding: 0.3125rem;
  background-color: #125da1;
  text-align: left;
  text-indent: 0.125rem;
}
.about .company p {
  font-size: 0.4375rem;
  color: #e3e3e3;
}
/*about us 结束*/
/*联系我们开始*/
.contain {
  width: 9.375rem;
  margin: 0 auto;
  text-align: center;
  background-color: #ddd;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin-top: 0.25rem;
}
.contain .contain-phone {
  font-size: 0.4375rem;
  margin-top: 0.3125rem;
}
.contain .contain-phone:nth-child(2) {
  margin-top: 0;
  color: #034eb3;
}
.contain .contain-phone:nth-child(4) {
  margin-bottom: 0.3125rem;
}
.contain .call-phone {
  margin: 0 auto;
  width: 8.75rem;
  margin-top: 0.3125rem;
  box-sizing: border-box;
}
.contain .call-phone a:nth-child(1) {
  float: left;
  display: block;
  width: 6.1875rem;
  height: 0.9375rem;
  line-height: 0.9375rem;
  border: 2px solid #034eb3;
  border-right: none;
  box-sizing: border-box;
  font-size: 0.4375rem;
  color: black;
}
.contain .call-phone a:nth-child(2) {
  float: left;
  display: block;
  width: 2.5rem;
  height: 0.9375rem;
  line-height: 0.9375rem;
  background-color: #034eb3;
  border: 2px solid #034eb3;
  box-sizing: border-box;
  font-size: 0.4375rem;
  color: #fff;
}
/*联系我们结束*/
/*技术支持开始*/
.beian {
  text-align: center;
  height: 0.9375rem;
  line-height: 0.9375rem;
}
.beian p {
  font-size: 0.4375rem;
  color: #888;
}
/*技术支持结束*/
/*footer*/
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.footer .foot-left {
  float: left;
  width: 2.5rem;
  height: 1.25rem;
  line-height: 1.25rem;
  background-color: #034eb3;
  border-right: 1px solid #979797;
  box-sizing: border-box;
  padding: 0 0.15625rem;
}
.footer .foot-left a {
  margin: 0 auto;
  display: block;
  font-size: 0.5rem;
}
.footer .foot-left a i {
  float: left;
  font-size: 0.625rem;
  color: #fff;
}
.footer .foot-left a h2 {
  float: left;
}
.footer .foot-left a {
  margin-left: 0.21875rem;
  color: #fff;
}
.footer .foot-left:nth-child(4) a {
  margin-left: 0;
}
.footer .foot-left:nth-child(4) a i {
  font-size: 0.59375rem;
}
/*footer*/
/**/
/**/
/**/
/**/
/**/
/**/
